###> composer ###
/vendor/
###< composer ###

###> symfony/dotenv ###
/.env.local.php
/.env.local
/.env.*.local
nix/.env*
###< symfony/dotenv ###

###> wordpress ###
# Ignore WP Core files
/public/wp

# Ignore default content directories
# Ignore vendor folders in content directories, those are managed via composer
/public/content/mu-plugins/vendor-*
/public/content/plugins/vendor-*
/public/content/themes/vendor-*
# Ignore all content in the uploads and cache directories, except for .gitignore and index.php files
/public/content/uploads/*
!/public/content/uploads/.gitignore
!/public/content/uploads/index.php
/public/content/cache/*
!/public/content/cache/.gitignore
!/public/content/cache/index.php
# Ignore upgrade files
/public/content/upgrade
/wp-cli.phar
###< wordpress ###

.devenv
.direnv
*.log
# .htaccess is env specific
/.htaccess
/public/.htaccess
/public/wp/.htaccess

###> dev environtment ###
.idea
.vagrant
.DS_Store
.php-version
*.phar
phpstan.neon
###< dev environtment ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
