###> composer ###
/vendor/
###< composer ###

###> symfony/dotenv ###
/.env.local.php
/.env.local
/.env.*.local
###< symfony/dotenv ###

###> wordpress ###
/public/wp
/public/content/mu-plugins/vendor-*
/public/content/plugins/vendor-*
/public/content/themes/vendor-*
/public/content/uploads/*
!/public/content/uploads/.gitignore
/public/content/upgrade
/wp-cli.phar
###< wordpress ###

.devenv
.direnv
*.log
# .htaccess is env specific
/.htaccess
/public/.htaccess
/public/wp/.htaccess

###> dev environtment ###
.idea
.vagrant
.DS_Store
.php-version
*.phar
###< dev environtment ###
